.login {
    background-color: #9079D0;
}
.containerLogin > p{
    color: #382C70;
    align-self: flex-start  ;
    margin-left: 90px;
    font-size: 15px;
    margin-bottom: 20px;

}

.containerLogin > button{
    background-color: #382C70;
    width: 200px;
    height: 50px;
    font-size: 30px;
    color:#F3E8E8 ;
    border-radius: 6px;
    border-width: 0px;

}



.containerLogin {
    
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 520px;
    height: 436px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 23px;
    align-items: center;
    justify-content: center;

}

#fonte {
    color: #382C70;
    font-size: 30px;
    text-align: center;
    padding-top:15px;
    justify-self: flex-start;
}

input {
    display: block;
    width: 316px;
    height: 41px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin: 20px;
}



.navbar2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 2;
    overflow: hidden;
   background-color: #FFFFFF;
}