
.quizHeader{
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 0px;
    height: 100% ;
    width: 100%;
    background-image: url("../../assets/quiz.png");
    background-size: 100% 100%;
    background-repeat:no-repeat; 

}
.traço {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: #D9D9D9;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .traço::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 5%;
    height:25px;
    background: #382C70;
    cursor: pointer;
    border-radius: 7px;
  }

.traço::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

#headerquiz{
    align-items: center;
    padding: 20px;
    margin-top: 1%;
    margin-bottom: 2%;  
}

.letr{
    color: #382C70;
    padding-bottom: 2%;
    padding: 10px;
    border-style: ridge;
}
h1{
    color:#382C70;
}

#inputs{
    text-align: justify;
}


.inp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    background-color: #D9D9D9   ;
    border-radius: 5vh;
    border: solid 1px;
    width: 100%;
    height: 20%;
}



.inp .lab{
    width: 90%;
    padding: 10px;
    font-size: 12px
}


.inp .rad{
    width:10%;
    width: 25px;
    height: 25px;
}

label{
    font-size: 1.5vh;
}

.headerbutton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.btn-left{
    color: #F3E8E8;
    background-color: #382C70;
    width: 200px;
    border: solid 2px;
}

.btn-rigth{
    color: #F3E8E8;
    background-color: #382C70;
    width: 200px;
    border: solid 2px;
}

.imgtable{
    padding-left: 10%;
}

.imgtable .nick{
    color: #382C70;
    font-size: 20px;
    padding: 20px;
}

.headerTable{
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 0px;
    height:100vh;
    width: 100%;
    color: #382C70;
}


.table{
    width: 100%;
    height: 100%;
    font-size: 15px;
    border-radius: 100px;
    padding: 15px;
}

.tableMain{
    border-radius: 40px;
    background-color: #D9D9D9;
}

.boxTable{
    width: 70px;
    height: 70px;
    background-color:#D9D9D9;
    border-radius: 50px;
}

.titleTable{
    color: #FFB000;
}


@media screen and (max-width: 605px){
    .quizHeader{
        height: 100%;
    }
}