.css-rob5aa-MuiPaper-root-MuiAlert-root {
    background-color: #FAE43C !important;
}

.css-hty740-MuiButtonBase-root-MuiButton-root {
    background-color: white !important;
}

.css-rob5aa-MuiPaper-root-MuiAlert-root {
    font-size: 10px !important;
}