.sobre {
    font-size: 15px;
}
.header1{
    margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
    height: 100%;
    background-image: url("../../assets/image-sobre.png");
    background-size: cover;
    position: static;
    background-repeat:no-repeat; 
}

.header-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}