
.header-bg {
  background: var(--color-white);
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/image-home.png");
  background-size: 100% 100%;
  background-repeat:no-repeat; 
}


 


